.title_page {
  font-weight: 600;
  font-size: 24px;
  color: $color0;
  //padding-bottom: 20px;
  padding-top: 15px;
}

.su-title {
  font-family: Montserrat;
  font-weight: 700 ;
  font-size: 24px;
  display: flex;
  align-items: center;
}
